<div class="row d-flex justify-content-center mt-3">
    <div class="col-6 text-center">
        <h1>Empleados</h1>
        <form #formEmpleados="ngForm" class="form">
            <div class="mb-3">
                <label class="form-label">Salario:</label>
                <input type="text" class="form-control" name="cajasalario" #cajasalario>
            </div>
            <button class="btn btn-primary" (click)="buscarPorSalario()">Mostrar empleados</button>
        </form>
        <table *ngIf="empleados" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellido</th>
                    <th>Oficio</th>
                    <th>Salario</th>
                    <th>Departamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of empleados">
                    <td>{{emp.idEmpleado}}</td>
                    <td>{{emp.apellido}}</td>
                    <td>{{emp.oficio}}</td>
                    <td>{{emp.salario}}</td>
                    <td>{{emp.departamento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>