<div class="row d-flex justify-content-center mt-3">
    <div class="col-6 text-center">
        <h1>LIBRERIA</h1>
        <hr>
        <h2>Crear Comic</h2>
        
        <hr>
        <form #comicForm="ngForm" (ngSubmit)="crearComic()">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" name="cajaTitulo" #cajaTitulo="ngModel" [(ngModel)]="comic.titulo">
            <label class="form-label mt-3">Descripcion</label>
            <input type="text" class="form-control" name="cajaDescripcion" #cajaDescripcion="ngModel" [(ngModel)]="comic.descripcion">
            <label class="form-label mt-3">Imagen</label>
            <input type="text" class="form-control"  name="cajaImagen" #cajaImagen="ngModel" [(ngModel)]="comic.imagen">
            <button class="btn btn-success mt-3 form-control">Crear</button>
        </form>
        <hr>
        <h3>Favorito</h3>
        <div class="col d-flex justify-content-center">
            <div *ngIf="favorito" class="card" style="width: 18rem;background-color:lightseagreen;color: white;">
                <img [src]="favorito.imagen" class="card-img-top" alt="..." height="200px">
                <div class="card-body">
                  <h5 class="card-title">{{favorito.titulo}}</h5>
                  <p class="card-text">{{favorito.descripcion}}</p>
                </div>
            </div>
            <h4 *ngIf="!favorito">No hay comic favorito</h4>
        </div>
        <hr>
        <h2>LISTA COMICS</h2>
        <app-comic *ngFor="let comic of comics; index as i;" [comic]="comic" [index]="i" (modificarComic)="modificarComicPadre($event)" (eliminarComic)="eliminarComicPadre($event)" (favoritoComic)="favoritoComicPadre($event)"></app-comic>
    </div>
</div>